<% layout('layouts/boilerPlate') %>     
<body>
    <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%= Listing._id %>?_method=PUT">
        <input name="Listing[title]" value="<%= Listing.title %>" type="text"> 
        <br><br>
        <textarea name="Listing[description]"   ><%= Listing.description %> </textarea>
        <br><br>
        <input name="Listing[image]" value="<%= Listing.image %>"  type="text">
        <br><br>
        <input name="Listing[price]" value="<%= Listing.price %>" type="number">
        <br><br>
        <input name="Listing[location]"  value="<%= Listing.location %>"  type="text">
        <br><br>
        <input name="Listing[country]" value="<%= Listing.country %>"   type="text">
        <br><br>
        <button >Edit</button>
  
      </form>
    
</body>